Repository nabeelhyatt/camp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm run generate-schema && git add SQL_SCHEMA.md

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{json,md,html,css}": ["prettier --write"],
    "src-tauri/src/migrations.rs": [
        "pnpm run generate-schema && git add SQL_SCHEMA.md"
    ]
}

docs: add multiplayer specs and restructure README
  README.md
  conductor.json
  docs/MULTIPLAYER-SPEC.md
  docs/PRD-GOOGLE-AUTH.md
Due: prettier --write

feat: add Clerk + Convex authentication infrastructure
  .env.example
  convex.json
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/auth.ts
  convex/convex.config.ts
  convex/schema.ts
  package.json
  pnpm-lock.yaml
  src/core/camp/auth/ClerkProvider.tsx
  src/core/camp/auth/index.ts
  src/core/camp/auth/useCurrentUser.ts
  src/core/campConfig.ts
  src/ui/App.tsx
  src/ui/components/SignIn.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Make authentication mandatory - remove conditional multiplayer
  .env.example
  src/core/camp/auth/ClerkProvider.tsx
  src/core/camp/auth/useCurrentUser.ts
  src/core/campConfig.ts
  src/ui/components/SignIn.tsx
Due: eslint --fix, prettier --write

Fix Prettier formatting issues
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/auth.ts
  convex/schema.ts
  src/core/camp/auth/ClerkProvider.tsx
  src/core/camp/auth/useCurrentUser.ts
  src/ui/App.tsx
Due: eslint --fix, prettier --write

Add Account settings tab with org management and logout
  convex.json
  convex/README.md
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/auth.ts
  convex/tsconfig.json
  src-tauri/tauri.conf.json
  src/core/camp/auth/ClerkProvider.tsx
  src/ui/components/Settings.tsx
Due: eslint --fix, prettier --write

Add default OpenRouter key fallback and update feedback link
  src/core/campConfig.ts
  src/core/chorus/api/AppMetadataAPI.ts
  src/ui/components/FeedbackButton.tsx
Due: eslint --fix, prettier --write

Auto-run Convex in dev-instance.sh and switch to npm
  script/dev-instance.sh
Due: none

Fix Convex dev server startup - run silently in background
  script/dev-instance.sh
Due: none

Fix Prettier formatting issues
  convex.json
  convex/README.md
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/tsconfig.json
  src/ui/components/Settings.tsx
Due: eslint --fix, prettier --write

Fix dev script: use npm for tauri configs and pass args correctly
  script/dev-instance.sh
  src-tauri/tauri.dev.conf.json
Due: prettier --write

Fix Conductor scripts to use npm instead of pnpm
  conductor.json
Due: prettier --write

Fix type safety: replace 'as any' with proper Convex ID type
  src/core/camp/auth/useCurrentUser.ts
Due: eslint --fix, prettier --write

Fix ESLint errors in auth and config files
  convex/auth.ts
  src/core/camp/auth/ClerkProvider.tsx
  src/core/camp/auth/index.ts
  src/core/campConfig.ts
  src/core/chorus/api/AppMetadataAPI.ts
Due: eslint --fix, prettier --write

Fix Prettier formatting in campConfig.ts
  src/core/campConfig.ts
Due: eslint --fix, prettier --write

Fix Conductor dev scripts to use npm instead of pnpm
  package.json
  script/dev-instance.sh
  script/setup-instance.sh
Due: prettier --write

Fix Conductor dev scripts to use npm instead of pnpm (#4)
  package.json
  script/dev-instance.sh
  script/setup-instance.sh
Due: prettier --write

Fix Conductor scripts to use pnpm instead of npm
  conductor.json
  script/dev-instance.sh
  script/setup-instance.sh
Due: prettier --write

Fix Conductor setup to use npm and add Convex readiness check
  .npmrc
  CLAUDE.md
  README.md
  conductor.json
  script/dev-instance.sh
  script/setup-instance.sh
Due: prettier --write

Add Conductor setup specification document
  docs/conductor-setup-spec.md
Due: prettier --write

Add Team/Shared/Private sidebar structure and MessageAttribution component
  src/ui/components/AppSidebar.tsx
  src/ui/components/chat/MessageAttribution.tsx
  src/ui/components/chat/index.ts
Due: eslint --fix, prettier --write

Fix unused imports and variables after sidebar refactor
  convex/messages.ts
  src/ui/components/AppSidebar.tsx
  src/ui/components/sidebar/TeamSection.tsx
Due: eslint --fix, prettier --write

Add Phase 1 multiplayer foundation: Convex API + sidebar components
  convex/chats.ts
  convex/lib/audit.ts
  convex/lib/featureFlags.ts
  convex/lib/permissions.ts
  convex/messages.ts
  convex/projects.ts
  convex/schema.ts
  docs/MULTIPLAYER-PLAN.md
  src/ui/components/sidebar/PrivateSection.tsx
  src/ui/components/sidebar/SharedSection.tsx
  src/ui/components/sidebar/TeamSection.tsx
  src/ui/components/sidebar/index.ts
Due: eslint --fix, prettier --write

Fix dev scripts and add Convex codegen
  convex.json
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  script/dev-instance.sh
  script/setup-instance.sh
Due: eslint --fix, prettier --write

Fix Conductor scripts to use pnpm and copy .env from workspace
  conductor.json
  script/dev-instance.sh
  script/setup-instance.sh
Due: prettier --write

Add noise gradient background image to sidebar
  src/ui/App.css
Due: prettier --write

Add sidebar background image asset
  public/sidebar-bg.png
Due: none

Fix Prettier formatting issues
  CLAUDE.md
  README.md
  convex.json
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/chats.ts
  convex/lib/featureFlags.ts
  convex/messages.ts
  docs/MULTIPLAYER-PLAN.md
  docs/conductor-setup-spec.md
  src/ui/components/chat/MessageAttribution.tsx
  src/ui/components/sidebar/index.ts
Due: eslint --fix, prettier --write

Address PR review feedback
  CLAUDE.md
  convex/chats.ts
  src/ui/components/chat/MessageAttribution.tsx
Due: eslint --fix, prettier --write

Address additional PR review feedback
  convex/chats.ts
  convex/lib/featureFlags.ts
  convex/messages.ts
  convex/projects.ts
  script/setup-instance.sh
  src/ui/components/sidebar/PrivateSection.tsx
Due: eslint --fix, prettier --write

Move attribution utils to separate file for react-refresh
  src/ui/components/chat/MessageAttribution.tsx
  src/ui/components/chat/index.ts
  src/ui/components/chat/messageAttributionUtils.ts
Due: eslint --fix, prettier --write

Move React import to top of PrivateSection.tsx
  src/ui/components/sidebar/PrivateSection.tsx
Due: eslint --fix, prettier --write

Fix review issues: duplicate QueryClientProvider and syncUser performance
  docs/MULTIPLAYER-PLAN.md
  src/core/camp/auth/useCurrentUser.ts
  src/ui/App.tsx
Due: eslint --fix, prettier --write

Fix dev scripts and add sidebar background image (#6)
  CLAUDE.md
  README.md
  conductor.json
  convex/_generated/api.d.ts
  convex/chats.ts
  convex/lib/audit.ts
  convex/lib/featureFlags.ts
  convex/lib/permissions.ts
  convex/messages.ts
  convex/projects.ts
  convex/schema.ts
  docs/MULTIPLAYER-PLAN.md
  docs/conductor-setup-spec.md
  public/sidebar-bg.png
  script/dev-instance.sh
  script/setup-instance.sh
  src/core/camp/auth/useCurrentUser.ts
  src/ui/App.css
  src/ui/App.tsx
  src/ui/components/AppSidebar.tsx
  src/ui/components/chat/MessageAttribution.tsx
  src/ui/components/chat/index.ts
  src/ui/components/chat/messageAttributionUtils.ts
  src/ui/components/sidebar/PrivateSection.tsx
  src/ui/components/sidebar/SharedSection.tsx
  src/ui/components/sidebar/TeamSection.tsx
  src/ui/components/sidebar/index.ts
Due: eslint --fix, prettier --write

Fix Conductor setup for non-interactive Convex dev server
  CLAUDE.md
  script/dev-instance.sh
  script/setup-instance.sh
Due: prettier --write

Add default Firecrawl API key support
  .env.example
  CLAUDE.md
  src/core/campConfig.ts
  src/core/utilities/Settings.ts
Due: eslint --fix, prettier --write

Fix large attachment timeouts and document team context vision
  docs/MULTIPLAYER-PLAN.md
  src/core/chorus/ModelProviders/ProviderAnthropic.ts
Due: eslint --fix, prettier --write

Update Convex generated files (formatting only)
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: eslint --fix, prettier --write

Address PR review feedback from Greptile and Macroscope
  docs/MULTIPLAYER-PLAN.md
  script/setup-instance.sh
  src/core/chorus/ModelProviders/ProviderAnthropic.ts
Due: eslint --fix, prettier --write

Add missing husky pre-commit hook for lint-staged
  .husky/pre-commit
Due: none

Apply Prettier formatting to modified files
  docs/MULTIPLAYER-PLAN.md
  src/core/chorus/ModelProviders/ProviderAnthropic.ts
Due: eslint --fix, prettier --write
