Repository nabeelhyatt/camp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm run generate-schema && git add SQL_SCHEMA.md

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{json,md,html,css}": ["prettier --write"],
    "src-tauri/src/migrations.rs": [
        "pnpm run generate-schema && git add SQL_SCHEMA.md"
    ]
}

fix: Prevent blinking loop in ErrorBoundary for chat errors
  src/ui/components/ui/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

fix: Use React Router navigate instead of window.location for chat errors
  src/ui/components/ui/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

fix: Revert ErrorBoundary to original state
  src/ui/components/ui/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

fix: Gracefully handle non-existent chats without error loop
  convex/chats.ts
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/MessageAPIConvex.ts
  src/ui/components/ui/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

fix: Address Greptile/Macroscope review feedback
  src/ui/components/AppSidebar.tsx
  src/ui/pages/AllChatsPage.tsx
  src/ui/pages/PrivateChatsPage.tsx
  src/ui/pages/TeamProjectsPage.tsx
Due: eslint --fix, prettier --write

feat: Enhance Team Projects page with header bar, avatars, and filtering
  convex/projects.ts
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/ConvexWorkspaceProvider.tsx
  src/core/camp/api/ProjectAPIConvex.ts
  src/core/camp/api/UnifiedChatAPI.ts
  src/core/camp/api/UnifiedProjectAPI.ts
  src/core/camp/api/convexTypes.ts
  src/core/camp/api/workspaceContextValue.ts
  src/ui/pages/TeamProjectsPage.tsx
Due: eslint --fix, prettier --write

fix: Improve Summarize button UX and cache invalidation
  convex/chats.ts
  src/core/camp/api/ChatAPIConvex.ts
  src/ui/components/RepliesDrawer.tsx
Due: eslint --fix, prettier --write

fix: Improve getInitials to handle whitespace-only names
  src/ui/pages/TeamProjectsPage.tsx
Due: eslint --fix, prettier --write

Sidebar UX improvements: private forks, deletion, All Chats page (#21)
  convex/chats.ts
  convex/projects.ts
  public/sidebar-bg.jpg
  public/sidebar-bg.png
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/ConvexWorkspaceProvider.tsx
  src/core/camp/api/MessageAPIConvex.ts
  src/core/camp/api/ProjectAPIConvex.ts
  src/core/camp/api/UnifiedChatAPI.ts
  src/core/camp/api/UnifiedProjectAPI.ts
  src/core/camp/api/convexTypes.ts
  src/core/camp/api/workspaceContextValue.ts
  src/ui/App.css
  src/ui/App.tsx
  src/ui/components/AppSidebar.tsx
  src/ui/components/RepliesDrawer.tsx
  src/ui/components/Settings.tsx
  src/ui/components/sidebar/AllChatsSection.tsx
  src/ui/components/sidebar/PrivateSection.tsx
  src/ui/components/sidebar/TeamSection.tsx
  src/ui/components/ui/ErrorBoundary.tsx
  src/ui/pages/AllChatsPage.tsx
  src/ui/pages/PrivateChatsPage.tsx
  src/ui/pages/TeamProjectsPage.tsx
Due: eslint --fix, prettier --write

Add auto-title generation for chats and projects
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/ProjectAPIConvex.ts
  src/core/camp/api/UnifiedProjectAPI.ts
  src/core/chorus/api/MessageAPI.ts
  src/core/chorus/api/ProjectAPI.ts
  src/ui/components/ChatInput.tsx
Due: eslint --fix, prettier --write

Fix title generation: add OpenRouter fallback for simpleLLM
  src/core/chorus/simpleLLM.ts
Due: eslint --fix, prettier --write

Refactor simpleLLM to use centralized getApiKeys()
  src/core/chorus/simpleLLM.ts
Due: eslint --fix, prettier --write

Centralize API key fallbacks in getApiKeys()
  src/core/chorus/Models.ts
  src/core/chorus/api/AppMetadataAPI.ts
  src/ui/hooks/useAttachments.ts
Due: eslint --fix, prettier --write

Improve chat title generation: fix typos and avoid project name repetition
  src/core/camp/api/ChatAPIConvex.ts
  src/core/chorus/api/MessageAPI.ts
Due: eslint --fix, prettier --write

Generate project title from context when creating new chat
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/ProjectAPIConvex.ts
  src/core/chorus/api/ProjectAPI.ts
Due: eslint --fix, prettier --write

Document hybrid SQLite/Convex state for project attachments
  docs/MULTIPLAYER-PLAN.md
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/ProjectAPIConvex.ts
  src/core/chorus/api/ProjectAPI.ts
Due: eslint --fix, prettier --write

Guard against sentinel project IDs in title generation
  src/core/camp/api/ProjectAPIConvex.ts
Due: eslint --fix, prettier --write

Auto-generate chat and project titles with improved prompts (#24)
  docs/MULTIPLAYER-PLAN.md
  src/core/camp/api/ChatAPIConvex.ts
  src/core/camp/api/ProjectAPIConvex.ts
  src/core/camp/api/UnifiedProjectAPI.ts
  src/core/chorus/Models.ts
  src/core/chorus/api/AppMetadataAPI.ts
  src/core/chorus/api/MessageAPI.ts
  src/core/chorus/api/ProjectAPI.ts
  src/core/chorus/simpleLLM.ts
  src/ui/components/ChatInput.tsx
  src/ui/hooks/useAttachments.ts
Due: eslint --fix, prettier --write

Fix issues from PR review
  src/ui/components/Settings.tsx
  src/ui/components/ui/PrivateTeamToggle.tsx
Due: eslint --fix, prettier --write

Integrate team sharing into API Keys and MCP settings inline
  src/ui/components/ApiKeysForm.tsx
  src/ui/components/Settings.tsx
  src/ui/components/ui/PrivateTeamToggle.tsx
  src/ui/components/ui/TeamKeyPicker.tsx
Due: eslint --fix, prettier --write

Fix error boundary navigation loop for deleted chats
  src/ui/components/ui/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

Add Calculator toolset for precise math calculations
  src/core/chorus/ToolsetsManager.ts
  src/core/chorus/toolsets/calculator.ts
Due: eslint --fix, prettier --write

Fix getInitials crash on names with multiple spaces
  src/ui/components/ui/TeamKeyPicker.tsx
Due: eslint --fix, prettier --write

Integrate team sharing into API Keys and MCP settings inline (#25)
  src/core/chorus/ToolsetsManager.ts
  src/core/chorus/toolsets/calculator.ts
  src/ui/components/ApiKeysForm.tsx
  src/ui/components/Settings.tsx
  src/ui/components/ui/ErrorBoundary.tsx
  src/ui/components/ui/PrivateTeamToggle.tsx
  src/ui/components/ui/TeamKeyPicker.tsx
Due: eslint --fix, prettier --write

Convex functions audit: batch fetching, file storage, and cleanup crons
  convex/_generated/api.d.ts
  convex/attachments.ts
  convex/chats.ts
  convex/crons.ts
  convex/lib/audit.ts
  convex/lib/batchFetch.ts
  convex/maintenance.ts
  convex/messages.ts
  convex/schema.ts
Due: eslint --fix, prettier --write

Add CrabNebula release pipeline and web deployment docs
  .env.example
  .github/workflows/release.yml
  .gitignore
  RELEASING.md
  docs/WEB-DEPLOYMENT.md
  script/release.sh
  src-tauri/tauri.conf.json
Due: prettier --write

Add Certificates.p12 to .gitignore
  .gitignore
  CLAUDE.md
Due: prettier --write

Fix Rust toolchain action name
  .github/workflows/release.yml
Due: none

Add CrabNebula release pipeline and web deployment docs (#27)
  .env.example
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  RELEASING.md
  docs/WEB-DEPLOYMENT.md
  script/release.sh
  src-tauri/tauri.conf.json
Due: prettier --write

Add CrabNebula release pipeline and web deployment docs
  .github/workflows/release.yml
  .gitignore
Due: none

Add CrabNebula release pipeline and web deployment docs (#28)
  .github/workflows/release.yml
  .gitignore
Due: none

Fix release workflow: macOS-only for now, Python 3.11 for node-gyp
  .github/workflows/release.yml
Due: none

Fix release workflow: macOS-only for now, Python 3.11 for node-gyp (#29)
  .github/workflows/release.yml
Due: none
