Repository nabeelhyatt/camp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm run generate-schema && git add SQL_SCHEMA.md

Update CrabNebula org from melty to chorus (#1)
  .github/workflows/cloud-publish-migration.yaml
  .github/workflows/cloud-publish.yaml
  src-tauri/tauri.conf.json
  src-tauri/tauri.qa.conf.json
Due: prettier --write

Update setup script to show pnpm run dev (#2)
  script/setup-instance.sh
Due: none

Fix ScrapeResponse type error in AttachmentsHelpers (#3)
  src/core/chorus/AttachmentsHelpers.ts
Due: eslint --fix, prettier --write

Bump version: patch
  package.json
  src-tauri/tauri.conf.json
  src-tauri/tauri.dev.conf.json
  src-tauri/tauri.qa.conf.json
Due: prettier --write

Add pnpm release script to run release.sh (#4)
  package.json
Due: prettier --write

Fix unexpected_cfgs lint errors in QA build (#5)
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.toml
Due: none

Update README.md
  README.md
Due: prettier --write

Update educational tooltip to announce open source release (#8)
  src/ui/App.tsx
  src/ui/components/ApiKeysForm.tsx
Due: eslint --fix, prettier --write

Add release documentation (#6)
  RELEASING.md
Due: prettier --write

Add interactive_release npm script (#9)
  package.json
Due: prettier --write

rename to release (#10)
  package.json
Due: prettier --write

Bump version: minor
  package.json
  src-tauri/tauri.conf.json
  src-tauri/tauri.dev.conf.json
  src-tauri/tauri.qa.conf.json
Due: prettier --write

Add MIT license (#11)
  LICENSE
  package.json
Due: prettier --write

Rename Project to Group Project throughout the app
  src/ui/components/AppSidebar.tsx
  src/ui/components/ProjectView.tsx
Due: eslint --fix, prettier --write

Redesign Group Project context editor with web search and URL import
  src/ui/components/ProjectView.tsx
  src/ui/components/WebSearchInput.tsx
  src/ui/components/WebsiteURLDialog.tsx
Due: eslint --fix, prettier --write

Fix bugs in Group Project context editor
  script/dev-instance.sh
  src/ui/components/ProjectView.tsx
  src/ui/components/WebSearchInput.tsx
  src/ui/components/WebsiteURLDialog.tsx
Due: eslint --fix, prettier --write

Move context textarea to top and update placeholder
  src/ui/components/ProjectView.tsx
Due: eslint --fix, prettier --write

Remove hardcoded OpenAI API key from migrations
  src-tauri/src/migrations.rs
Due: pnpm run generate-schema && git add SQL_SCHEMA.md

Replace Chorus icons with Camp campfire logo
  script/build-icons.sh
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/android/ic_launcher_36.png
  src-tauri/icons/android/mipmap-hdpi/ic_launcher.png
  src-tauri/icons/android/mipmap-mdpi/ic_launcher.png
  src-tauri/icons/android/mipmap-xhdpi/ic_launcher.png
  src-tauri/icons/android/mipmap-xxhdpi/ic_launcher.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/ios/AppIcon-20x20@1x.png
  src-tauri/icons/ios/AppIcon-20x20@2x.png
  src-tauri/icons/ios/AppIcon-20x20@3x.png
  src-tauri/icons/ios/AppIcon-29x29@1x.png
  src-tauri/icons/ios/AppIcon-29x29@2x.png
  src-tauri/icons/ios/AppIcon-29x29@3x.png
  src-tauri/icons/ios/AppIcon-40x40@1x.png
  src-tauri/icons/ios/AppIcon-40x40@2x.png
  src-tauri/icons/ios/AppIcon-40x40@3x.png
  src-tauri/icons/ios/AppIcon-512@2x.png
  src-tauri/icons/ios/AppIcon-60x60@2x.png
  src-tauri/icons/ios/AppIcon-60x60@3x.png
  src-tauri/icons/ios/AppIcon-76x76@1x.png
  src-tauri/icons/ios/AppIcon-76x76@2x.png
  src-tauri/icons/ios/AppIcon-83.5x83.5@2x.png
Due: none

Rebrand core config files from Chorus to Camp
  index.html
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/tauri.conf.json
  src-tauri/tauri.dev.conf.json
  src-tauri/tauri.qa.conf.json
Due: prettier --write

Add centralized campConfig.ts for backend/analytics settings
  src/core/campConfig.ts
  src/core/chorus/toolsets/github.ts
  src/core/chorus/toolsets/slack.ts
  src/core/config.ts
  src/ui/main.tsx
Due: eslint --fix, prettier --write

Update UI strings from Chorus to Camp
  src/core/chorus/gc-prototype/PromptsGC.ts
  src/core/chorus/prompts/prompts.ts
  src/ui/App.tsx
  src/ui/components/ChatInput.tsx
  src/ui/components/EmptyState.tsx
  src/ui/components/MultiChat.tsx
  src/ui/components/Onboarding.tsx
  src/ui/components/Settings.tsx
  src/ui/hooks/useShareChat.ts
Due: eslint --fix, prettier --write

Update Rust menu strings from Chorus to Camp
  src-tauri/src/lib.rs
Due: none

Update build scripts from Chorus to Camp
  script/dev-instance.sh
  script/setup-instance.sh
Due: none

Update documentation from Chorus to Camp
  CLAUDE.md
  LICENSE
  README.md
  UPSTREAM-SYNC.md
Due: prettier --write

Remove CrabNebula Cloud workflows
  .github/workflows/cloud-publish-migration.yaml
  .github/workflows/cloud-publish.yaml
  .github/workflows/cloud-qa.yaml
  .github/workflows/release-notifier.yml
Due: none

Fix lint errors and add useCallback for Onboarding hooks
  src/core/campConfig.ts
  src/ui/App.tsx
  src/ui/components/Onboarding.tsx
Due: eslint --fix, prettier --write

Add Camp product requirements documents
  docs/CAMP-PRD-PHASE2.md
  docs/CAMP-PRD.md
Due: prettier --write

Remove hardcoded OpenRouter API key
  src/core/utilities/Settings.ts
  src/ui/App.tsx
Due: eslint --fix, prettier --write

Add environment variable support for default API key
  .env.example
  CLAUDE.md
  src/core/utilities/Settings.ts
  src/ui/App.tsx
Due: eslint --fix, prettier --write

Add development best practices to CLAUDE.md
  CLAUDE.md
Due: prettier --write

Fix formatting issues
  CLAUDE.md
  UPSTREAM-SYNC.md
  src/ui/App.tsx
  src/ui/components/ProjectView.tsx
  src/ui/components/Settings.tsx
  src/ui/components/WebSearchInput.tsx
  src/ui/components/WebsiteURLDialog.tsx
Due: eslint --fix, prettier --write

Add noise texture background to sidebar
  src/ui/App.css
  src/ui/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write

Update Cargo.lock
  src-tauri/Cargo.lock
Due: none

Document upstream sync strategy with file tier classification
  CLAUDE.md
  UPSTREAM-SYNC.md
Due: prettier --write

Set display name to 'camp' in conductor.json
  conductor.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,html,css})
  pnpm run generate-schema && git add SQL_SCHEMA.md: any of: src-tauri/src/migrations.rs
